/* start variable    */
:root{
    --main-color:#10CAB7;
}
/* end variable      */
/* start global rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}
html{
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}
/* start component */
.special-heading{
    color: #EBECED;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
    margin: 0px;
}
.special-heading +p{
    text-align: center;
    text-align: center;
    margin-top: -30px;
    color: #797979;
}
@media (max-width:767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}
/* end component */
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* mediem */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules *
/* -----------------------------------start header --------------------------------------------*/
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  width: 60px;
}
.header .container .links {
  position: relative;
}
.header .container .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .container .links .icon {
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  justify-content: flex-end;
}
.header .container .links .icon span {
  margin-bottom: 5px;
  background-color: black;
}
.header .container .links .icon span:first-child {
  height: 3px;
  width: 100%;
}
.header .container .links .icon span:nth-child(2) {
  height: 3px;
  width: 60%;
  transition: 0.3s;
}
.header .container .links .icon span:last-child {
  height: 3px;
  width: 100%;
}
.header .container .links ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  background-color: #f6f6f6;
  position: absolute;
  right: 0px;
  top: 30px;
  min-width: 200px;
  display: none;
  z-index: 1;
}
.header .container .links ul::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #eee transparent;
  right: 5px;
  position: absolute;
  top: -20px;
}
.header .container .links ul li a {
  text-decoration: none;
  padding: 15px;
  color: #333;
  display: block;
  transition: 0.5s;
}
.header .container .links ul li :hover {
  padding-left: 25px;
}
.header .container .links ul li:not(:last-child) a{
border-bottom: 1px solid  #ddd;
}
.header .container .links:hover ul{
    display: block;
}
/*----------------------------------- end header  --------------------------------------------*/
/* -----------------------------------start landig ------------------------ */
.landing{
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;

}
.landing .text-intro {
    width: 320px;
    max-width: 100%;
  
}
.landing .text-intro h1 {
    width: 100%;
    margin: 0px;
    text-align: center;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;

}
.landing .text-intro p {
    width: 100%;
    text-align: center;
    line-height: 1.8;
}
/* -----------------------------------end landig ------------------------ */
/* -----------------------------start feature --------------------------- */
.feature{
    padding-top:60px ;
    padding-bottom: 60px;
    background-color:#f6f6f6 ;
}
.feature .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 10px;

}
.feature .container .feat{
    text-align: center;
    padding: 20px;
}
.feature .container .feat i{
    color: var(--main-color);
}
.feature .container .feat h3{
    font-weight: 800;

}
.feature .container .feat p{
    color: #777777;
    line-height: 1.8;
    font-size: 17px;
    
}
/* ----------------------------end feature------------------------------ */
/* -----------start service ------------------------------------------- */
.service .container .servive-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px;
    padding-top: 100px;
}
.service .container .servive-content .serv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:776px){
    .service .container .servive-content .serv{
        flex-direction: column;
        text-align: center;
    }
}
.service .container .servive-content .serv i{
    color: var(--main-color);
    flex-basis: 60px ;
}
.service .container .servive-content .serv .content{
    flex: 1;
}
.service .container .servive-content .serv h3{
    margin-top: 0px;
}
.service .container .servive-content .serv p{
    color: #777;
    line-height: 1.8;
    font-weight: 300;
}

.service .container .servive-content .image {
  
  text-align: center;
  position: relative;
}
.service .container .servive-content .image img{
  width: 250px;
}
.service .container .servive-content .image::before{
    width: 100px;
    content: '';
    height: calc(100% + 100px);
    background-color: #2C4755;
    position: absolute;
    right: 0px;
    top: -50px;
    z-index: -1;
}
@media (max-width:1199px){
  .service .container .servive-content .image{
    display: none;
  }
}
/* --------------end service----------------------------------------- */
/* ---------------------start portifilio-----------------------------  */
.portofilio{
  padding-top: 60px;
  padding-top: 60px;
  background-color:#f6f6f6 ;
}
.portofilio .portofilio-container {
  display: grid; 
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap: 20px;
  padding-top: 80px;
}
.portofilio .portofilio-container .card{
  background-color: white;
  margin-bottom: 60px;
}
.portofilio .portofilio-container .card img{
  max-width: 100%;
}
.portofilio .portofilio-container .card .info {
  padding: 20px;
}
.portofilio .portofilio-container .card .info h3 {
  padding: 0px;
}
.portofilio .portofilio-container .card .info p {
  line-height: 1.8;
  color: #777;
}
/* ----------------------end portifilo ---------------------------------*/
/* start about us */
.about{
  padding-top: 60px;
  padding-top: 60px;
}
.about .about-content{
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width:991px){
  .about .about-content{
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image{
  width: 250px;
  height: 375px;
  position: relative;
  margin-bottom: 40px;
}
.about .about-content .image::before{
  content: '';
    width: 100px;
    position: absolute;
    height: calc(100% + 50px);
    background-color: #EBECED;
    top: -25px;
    z-index: -1;
    left: -20px;
    
}
.about .about-content .image::after{
  content: "";
    width: 120px;
    height: 300px;
    position: absolute;
    border-bottom: 80px solid var(--main-color);
    border-left: 80px solid var(--main-color);
    top: -28px;
    right: -150px;
    z-index: -1;
}
@media (max-width:991px){
  .about .about-content .image::after,.about .about-content .image::before{
    display: none;
  }
}
.about .about-content .text{
  flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-child{
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr{
width: 50%;
border-color: var(--main-color);
display: inline-block;
}
.about .about-content .text p:last-child{
  line-height: 2;
  color: #777;
}
.about .about-content .image img{
 max-width: 100%;
}
@media (max-width:991px){
  .about .about-content .image{
    margin: auto;
  }
}
/* end about us */
/* start content  */
.contact{
  padding-top: 60px;
  padding-bottom: 100px;
  background-color:#f6f6f6 ;
}
.contact .contact-content{
  padding-top: 40px;
  text-align: center;
}
.contact .contact-content p{
  font-size: 35px;
  font-weight: 800;
  color: #2C4755;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .contact-content a{
  text-decoration: none;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  margin: 20px;
  display: block;
}
@media (max-width:767px){
  .contact .contact-content p,
  .contact .contact-content a{
    font-size: 20px;
  }

}
.contact .contact-content .icon{
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 20px;
}
.contact .contact-content .icon i{
  color: #2C4755;
  margin-left: 10px;
 }
/* end content */
/* start footer */
.footer{
  background-color: #2C4755;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 18px;
}
.footer span{
  color: var(--main-color);
  font-weight: bold;
}
/* end footer */
